@inject INewsGroupRepository GroupRepository

@{
    var listGroups = await GroupRepository.GetListGroupsAsync();
}
<ul>
    <li><a asp-controller="Home" asp-action="Index"> صفحه اصلی </a></li>
    <li>
        <span>گروه های خبری</span>
        <ul>
            @foreach (var item in listGroups)
            {
                <li>
                    <a asp-controller="News"
                       asp-action="ShowNewsByGroupId"
                       asp-route-groupId="@item.GroupId"
                       asp-route-title="@item.GroupTitle">
                        @item.GroupTitle
                    </a>
                </li>
            }
        </ul>
    </li>
    @if (User.Identity.IsAuthenticated)
    {

        <li class="pull-left">
            <b><a asp-controller="Account" asp-action="LogOut"><span class="fa fa-power-off"></span>&nbsp;خروج</a></b>
        </li>
        <li class="pull-left">
            <a asp-controller="Account" asp-action="EditProfile">مشاهده پروفایل </a>
        </li>
    }
    else
    {
        <li class="pull-left">
            <a asp-controller="Account" asp-action="Login">ورود</a>
        </li>
        <li class="pull-left">
            <a asp-controller="Account" asp-action="Register">ثبت نام</a>
        </li>
    }
</ul>