@model UserRegisterViewModel

@{
    ViewData["Title"] = "ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="category-section border-radius">
    <header><i class="fa fa-user"></i> <h3> ثبت نام </h3></header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Register">
                    <br/>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control"/>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordRepeat" class="control-label"></label>
                        <input asp-for="PasswordRepeat" class="form-control"/>
                        <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="ثبت نام" class="btn btn-block btn-success"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



<div class="text-center">
    <a asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
