@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ثبت رمز عبور جدید";
}

<section class="category-section border-radius">
    <header><i class="fa fa-lock"></i> <h3> ثبت رمز عبور جدید </h3></header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ResetPassword">
                    @Html.HiddenFor(a => a.ResetCode)
                    <br/>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="ثبت" class="btn btn-block btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="text-center">
    <a asp-controller="Home" asp-action="Index">بازگشت به صفحه اصلی</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
