@model News

@{
    ViewData["Title"] = "ویرایش خبر " + Model.Title;
}

@section Head
{
    <!-- form Uploads -->
    <link href="/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
}

<section class="category-section border-radius">
    <header><i class="fa fa-edit"></i> <h3> ویرایش خبر </h3></header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <br/>
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="VisitCount"/>
                    <input type="hidden" asp-for="CreateDate"/>
                    <input type="hidden" asp-for="ImageName"/>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control"/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <input asp-for="ShortDescription" class="form-control"/>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageName" class="control-label"></label>
                        <input type="file" accept="image/x-png,image/gif,image/jpeg"
                               class="form-control dropify" name="imageFile"
                               data-default-file="/../../img/news-images/@Model.ImageName"/>
                        <span asp-validation-for="ImageName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewsGroup.GroupTitle" class="control-label"></label>
                        <select asp-for="NewsGroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                        <span asp-validation-for="NewsGroupId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <input asp-for="Tags" class="form-control"/>
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="ShowInSlider"/> @Html.DisplayNameFor(model => model.ShowInSlider)
                            </label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="ذخیره" class="btn btn-block btn-success"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div class="text-center">
    <a asp-area="Admin" asp-controller="News" asp-action="NewsList">بازگشت</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- file uploads js -->
    <script src="/plugins/fileuploads/js/dropify.min.js"></script>
    <script type="text/javascript">
        $('.dropify').dropify({
            messages: {
                'default': 'فایل را به اینجا بکشید یا کلیک کنید',
                'replace': 'برای جایگزینی فایل را به اینجا بکشید یا کلیک کنید',
                'remove': 'پاک کردن',
                'error': 'با پوزش فراوان، خطایی رخ داده'
            },
            error: {
                'fileSize': 'حجم فایل بیشتر از حد مجاز است (1M).'
            }
        });
    </script>
}
